venv/
old_templates/
.vscode/
requirements.txt
static/img/blank-cards-composition-data-268351.jpg
.ebignore

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
