.red{
    color: red;
}

li{
    font-size: 1.25rem;
}

label{
    font-size: 1.25rem;
}

.jumbotron {
    background-image: url("https://images.pexels.com/photos/105770/pexels-photo-105770.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    
  }