{% extends 'base.html'%}

{% block content %}

<div class="container-fluid">
    <h1 class="text-center pt-3">Definition Decks</h1>
</div>


<div class="container-fluid">
    <div class="row">
        {% for category in categories %}

        <div class="col-4">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title ">{{category.name}} Deck</h4>
                    <p class="card-text">{{category.description}}</p>
                    <a href="{{url_for('get_definitions', category=category.name)}}" class="card-link">See Deck</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}